<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>File Uploader</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.mousewheel-3.0.6.pack.js"></script>
    <link rel="stylesheet" href="/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
        function activate_memo(id){
            var memo = $('span#memo' + id).text();
            $('td#area' + id).html('<form method="post" action="/Memo"><textarea class="memo" name="memo">'
                    + memo
                    + '</textarea><input type="hidden" name="id" value="' + id + '"/>'
                    + '<input class="button-update" type="submit" value="更新"></form>');
        }
    </script>
</head>
<body>
{% if msg %}
<section class="msg">{{ msg }}</section>
{% endif %}
<section class="form-upload">
    <p class="message">自己紹介用のpdfを選択して、uploadボタンを押してください。</p>
    <form method="post" action="/StoreFiles" enctype="multipart/form-data">
        <input type="file" name="selfintro" required/>
        <input type="submit" value="upload" /><br />
        メモ&nbsp;<textarea name="memo" class="memo" /></textarea>
    </form>
</section>

<section>
    <p class="title">アップロードファイル一覧</p>
    <table class="file-list"><tbody>
        {% for fileobj in result %}
            <tr>
            <td class="ts">{{ fileobj.ts }}</td>
            <td class="filename"><a href="{{ img_web_path }}{{ fileobj.tmp_filename }}.jpg" class="fancybox" title="{{ fileobj.upload_filename }}">{{ fileobj.upload_filename }}</a></td>
            <td class="download">
                <a href="/StoreFiles?id={{  fileobj.id }}">DownLoad</a>
            </td>
            <td class="delete">
                <a href="/StoreFiles?_method=DELETE&id={{ fileobj.id }}">Delete</a>
            </td>
            </tr>
            <tr>
                <td colspan="4" id="area{{ fileobj.id }}">
                    <span id="memo{{ fileobj.id }}">{{ fileobj.memo }}</span>
                    <input class="button-update" type="button" onclick="activate_memo({{ fileobj.id}}); return false;" value="変更" />
                </td>
            </tr>
        {% endfor %}
    </tbody></table>
</section>
<p>&nbsp;&nbsp;※&nbsp;他人のファイルを削除しないよう、十分ご注意願います</p>
</body>
</html>
