<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>File Uploader</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/assets/js/jquery.js"></script>
    <script>
        $(document).ready(function(){

        });
        function activate(id) {
            if ($('#btn' + id).text() == 'Update?') {
                $.ajax({
                    url: "/Memo",
                    type: "POST",
                    data : {
                        id: $("#id" + id).val(),
                        memo : $("memo" + id).val()
                    },
                    success : function(){
                        $("#btn" + id).text('Updated!!!');
                    }
                });
            } else {
                $("#memo" + id).removeAttr("disabled");
                $("#memo" + id).addClass("activate");
                $("#btn" + id).text('Update?');
            }
        }
    </script>
</head>
<body>
{% if msg %}
<section class="msg">{{ msg }}</section>
{% endif %}
<section class="form-upload">
    <p class="message">自己紹介用のpdfを選択して、uploadボタンを押してください。</p>
    <form method="post" action="/StoreFiles" enctype="multipart/form-data">
        <input type="file" name="selfintro" />
        <input type="submit" value="upload" /><br />
        メモ&nbsp;<textarea name="memo" class="memo" /></textarea>
    </form>
</section>

<section>
    <p class="title">アップロードファイル一覧</p>
    <table class="file-list"><tbody>
        {% for fileobj in result %}
            <tr>
            <td class="ts">{{ fileobj.ts }}</td>
            <td class="filename">{{ fileobj.upload_filename }}</td>
            <td class="download">
                <a href="/StoreFiles?id={{  fileobj.id }}">DownLoad</a>
            </td>
            <td class="delete">
                <a href="/StoreFiles?_method=DELETE&id={{ fileobj.id }}">Delete</a>
            </td>
            </tr>
            <tr>
                <td colspan="3">
                    <form id="memo_form{{ fileobj.id}}" action="/Memo" method="post">
                        <textarea id="memo{{ fileobj.id }}" name="memo" disabled="disable" class="memo no-activate"/>{{ fileobj.memo }}</textarea>
                        <input type="hidden" value="{{ fileobj.id}}" name="id{{ fileobj.id }}" />
                    </form>
                </td>
                <td><a onclick="activate({{ fileobj.id }})" id="btn{{ fileobj.id }}">Mod</a></td>
            </tr>
        {% endfor %}
    </tbody></table>
</section>
<p>&nbsp;&nbsp;※&nbsp;他人のファイルを削除しないよう、十分ご注意願います</p>
</body>
</html>
